*{box-sizing: border-box;
background-color: black;
font-family: Arial;}

.navbar{
    width:100% ;
    color: whitesmoke;
    display: inline-flex;
    position: relative;
    align-items: center;
    justify-content:left;
    font-size: small;
    font-weight:100;
}

a:link { text-decoration: none; }


a:visited { text-decoration: none; }

#movies{
    color: whitesmoke;
    margin-left: 5%;
}

#movies:hover{
    color:grey ;
}
#watchlist{
    color: whitesmoke;
    margin-left: 5%;
}
#watchlist:hover{
    color:grey ;
}
#search{
    margin-left: 35%;
}
#search:hover{
    color:grey ;
}
#searchInp{
    margin-left: 10px;
}
#account{
    margin-left: 30px;
}
#account:hover{
    color:grey ;
}


#movieGrid{
    display: grid;
    grid-template-columns:repeat(5,[col] 1fr);
    row-gap: 5%;
    text-align: center;
}

.icon-buttons{
    color: grey;   
}

#play:hover{
    color:blue ;
}
#add:hover{
    color:blue ;
}
#like:hover{
    color:blue ;
}