*{box-sizing: border-box;
background-color: rgb(18, 18, 18);
font-family: Arial;}

.navbar{
    display:flex;
    flex-direction: column;
    color: whitesmoke;
    font-size: small;
    font-weight:100;
}
@media only screen and (min-width: 900px) {
    .navbar{
        width:100% ;
        color: whitesmoke;
        display: inline-flex;
        flex-direction: row;
        font-size: small;
        font-weight:100;
    }
}
a:link { text-decoration: none; }


a:visited { text-decoration: none; }

#movies{
    color: whitesmoke;
    margin-left: 5%;
}

/* Slideshow container */
.carousel-container {
    text-align: center;
    padding-bottom:550px;
  }

  /* Next & previous buttons */
  .prev, .next {
    position: relative;
    padding-left: 20%;
    padding-right: 20%;
    color: white;
    font-weight: bold;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    color:#717171;
  }
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }

#watchlist{
    color: whitesmoke;
    margin-left: 5%;
}
#searchInp{
    color: whitesmoke;
    margin-left: 5%;
}
#searchPage{
    color: whitesmoke;
    margin-left: 5%;
}
#search{
    margin-left: 5%;
}
#logo{
    margin-left: 5%;
}
#account{
    margin-left: 30px;
    margin-top: 5px;
    
}
#movies:hover{
    color:grey ;
}
#watchlist:hover{
    color:grey ;
}
#searchPage:hover{
    color:grey ;
}
#search:hover{
    color:grey ;
}

#account:hover{
    color:grey ;
}
#movieGrid{
    display: grid;
    grid-template-columns:repeat(2,250px);
    row-gap: 2%;
    text-align: center;
}
#heading1{
    text-align: center;
}
#heading2{
    text-align: center;
}
#heading3{
    text-align: center;
}
#watchGrid{
    display: grid;
    grid-template-columns:repeat(2,250px);
    row-gap: 3%;
    text-align: center;
}
#icon,#icon2,#icon3,#icon4,#searchResult{
    border-radius: 3%;
    width:100%;
    height:100%;
    width:200px;
    height:265px ;
    border: solid 1px  rgb(20, 20, 20);
    transition:0.2s ease;
    transition-delay: 0.3s;
}
.iconComing{
    border-radius: 3%;
    height:265px ;
    width: 200px;
}
#skills_carousel{
    background-color: beige;
}
.block1:hover{
    transform: scale(1.1);
    transition:0.2s ease;
    transition-delay: 0.3s;
}
#icon2:hover{
    transform: scale(1.1);
}

#icon3:hover{
    transform: scale(1.1);
}

#across{
    position: relative;
    top: -50%;
    text-align: center;
    color: white;
    border: solid 1px red;
}

.icon-buttons{
    color: grey;
}
.icon-buttons:hover{
    color: grey;
}

#play:hover{
    color:lightgreen;
    transform:scale(1.2);
    transition: 0.3s;
}
#add:hover{
    color:yellow;
}
#like:hover{
    color:blue ;
    transform:translate(1px);
    transition: 0.3s;
}
#delete:hover{
    color:white ;
    transform: rotate(360deg);
    transition: 0.3s;
}


#trailer{
    background-color: black;
    margin: auto;
    text-align: center;
}

@media only screen and (min-width: 630px) {
    #movieGrid{
        display: grid;
        grid-template-columns:repeat(5,[col] 1fr);
        row-gap: 5%;
        text-align: center;
    }
    #heading1{
        text-align: left;
        margin-left: 10px;
    }
    #comingSoonGrid{
        display: grid;
        grid-template-columns:repeat(5,[col] 1fr);
        row-gap: 5%;
        text-align: center;
    }
    .carousel-container {
        text-align: center;
        padding-bottom:285px;
    }
    #heading2{
        text-align: left;
        margin-left: 10px;
    }
    #watchGrid{
        display: grid;
        grid-template-columns:repeat(5,[col] 1fr);
        row-gap: 5%;
        text-align: center;
    }
    #heading3{
        text-align: left;
        margin-left: 10px;
    }

}
@media only screen and (min-width: 1000px) {
    .iconComing{
        border-radius: 3%;
        height:500px ;
        width:380px;
    }
    .carousel-container {
        text-align: center;
        padding-bottom: 1020px;
      }
}
@media only screen and (min-width: 1100px) {
    .iconComing{
        border-radius: 3%;
        height:500px ;
        width:380px;
    }
    .carousel-container {
        text-align: center;
        padding-bottom: 520px;
      }
}

