*{box-sizing: border-box;}

body{
    background-image:url("/Images/Netflix-Background.jpg");
    background-size: cover;
    background-attachment: fixed;
}

.navbar{
    background-color:black;
    width:100% ;
    color: whitesmoke;
    display: inline-flex;
<<<<<<< HEAD

=======
    position: relative;
    gap: 100px;
>>>>>>> 3007d5f15b7c2d503ba0c9f4355c36d2d6409526
    align-items: center;
    justify-content:left;
    font-family: Arial, Helvetica, sans-serif ;
  }

a{
    color:whitesmoke ;
}

a:hover{
    color:grey ;
}

#watchlist{
    padding-left: 100px;
}
#search{
    padding-left: 50%;
}
#acoount{
    padding-left: 50%;
}