*{box-sizing: border-box;}

body{
    background-image:url("/Images/Netflix-Background.jpg");
    background-size: cover;
    background-attachment: fixed;
}

.navbar{
    background-color:black;
    width:100% ;
    color: whitesmoke;
    display: inline-flex;
    position: relative;
    align-items: center;
    justify-content:left;
    font-family: Arial;
    font-size: small;
    font-weight:100;
}

a:link { text-decoration: none; }


a:visited { text-decoration: none; }

#movies{
    color: whitesmoke;
    margin-left: 5%;
}

#movies:hover{
    color:grey ;
}
#watchlist{
    color: whitesmoke;
    margin-left: 5%;
}
#watchlist:hover{
    color:grey ;
}

#search{
    margin-left: 35%;
}
#search:hover{
    color:grey ;
}
#searchInp{
    margin-left: 10px;
    color: white;
}
#account{
    margin-left: 30px;
}
#account:hover{
    color:grey ;
}

.trending{
    color: red;
}

.strikeout{
    text-decoration: line-through;
    color: grey;
}

.entries{
    color: white;
    background-color:rgb(5,3,4,0.8);
    padding: 40px;
    padding-bottom: 200px;
    border-radius: 1.5%;
    display:flex;
    flex-direction: column;
    width: fit-content;
    margin: auto;
    margin-top: 10%;
    align-items: center;
}

#loginButton{
    font-weight: 500;
    background-color: #E50914;
    color:whitesmoke;
    border-radius: 1.5%;
    width:189px;
    height: 30px;
}
#approved{
    color: white;
}