*{box-sizing: border-box;}

body{
    background-image:url("/Images/Netflix-Background.jpg");
    background-size: cover;
    background-attachment: fixed;
}

.navbar{
    background-color:black;
    width:100% ;
    color: whitesmoke;
    display: inline-flex;
    position: relative;
    gap: 100px;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif 
  }
