<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" >
    <link rel="stylesheet" href="/CSS/moviesStylesheet.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="/JS/movies.js" defer></script>
    <script src="https://kit.fontawesome.com/76ccc9430c.js" crossorigin="anonymous" defer></script>
    
    <title>Movies</title>
</head>
<body>
 <div id="moviePage">
    <nav class="navbar">
        <img id="logo" src="/Images/Netflix Edit.png" alt="Netflix Logo" width="200px" height ="180px" style="background-color:  rgb(18, 18, 18);">
        <a id="movies" href="/HTML/movies.html"><h6 >Movies</h6></a>
        <a id="watchlist" href="/HTML/watchlist.html"><h6 >Watchlist</h6></a>
        <a id="searchPage" href="/HTML/search.html"><h6 >Search</h6></a>
        <i class="fa-solid fa-magnifying-glass" id="search"></i><input v-on:click ="show" id="searchInp">
        <a id="login" href="/HTML/login.html" onclick="noBack()"><h6 id="account">Sign Out</h6></a>
    </nav>
    <div id="trailer">
        <video width="99%" height= "2%" controls autoplay>
            <source src="/Videos/Death on the Nile.mp4" type="video/mp4">
        </video>
    </div>
    <div class="gridLayout">
            <h4 id="heading2" style="color: white;">Coming Soon</h4>
                <!--Carousel Icons-->
                        <div class="carousel-container" v-for="x in data"><!------------------>
                            <div class="carousel-item">
                                <img class="iconComing" src="/Images/Coming/Animal Crackers.jpg" alt="">
                                <img class="iconComing" src="/Images/Coming/Avatar 2.jpg" alt="">
                                <img class="iconComing" src="/Images/Coming/Tenet 2020.jpg" alt="">
                            </div>
                            <div class="carousel-item">
                                <img class="iconComing" src="/Images/Coming/Barbie.jpg" alt="">
                                <img class="iconComing" src="/Images/Coming/Project Power.jpg" alt="">
                                <img class="iconComing" src="/Images/Coming/Sea Fever.jpg" alt="">
                            </div>
                            <div class="carousel-item">
                                <img class="iconComing" src="/Images/Coming/The Hunger Games.jpg" alt="">
                                <img class="iconComing" src="/Images/Coming/Wakanda Forever.jpg" alt="">
                                <img class="iconComing" src="/Images/Coming/Puss in Boots.jpg" alt="">
                            </div>
                <!--Carousel Arrow Buttons-->
                            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                            <a class="next" onclick="plusSlides(1)">&#10095;</a>
                        </div>
                        <div style="text-align:center">
                            <span class="dot" onclick="currentSlide(1)"></span>
                            <span class="dot" onclick="currentSlide(2)"></span>
                            <span class="dot" onclick="currentSlide(3)"></span>
                        </div>
            <h4 id="heading1" style="color: white;">New releases</h4>
            <div id="movieGrid">
                <div class="block1"  v-for="x in data">
                    <picture>
                        <img id="icon" v-bind:src="x.image"  alt="" >
                        <video id="notAvailable" style="display:none;">
                            <source src="/Videos/Video NA.mp4" type="video/mp4">
                        </video>
                            <div class="icon-buttons">
                                <i class="fa-solid fa-circle-play" id="play" v-on:click="play(x)"></i>
                                <i class="fa-solid fa-circle-plus" id="add" v-on:click="addMovie(x)"  ></i>
                                <i class="fa-solid fa-thumbs-up" id="like" v-on:click="liked(x)"></i>   
                            </div>
                    </picture>
                </div>
            </div>
    </div>
    <footer>
        <br>
    </footer>
 </div>
</body>
</html>